html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  flex: 1;
}

img {
  width: 400px;
  height: 400px;
  padding: 20px;
}

body {
  background-color: #ffeecc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4%;
  padding: 5px;
  background-color: #3399ff;
}

header {
  width: 100%;
  height: 10%;
  padding: 20px;
  background-color: #3399ff;
  font-family: 'Anton', sans-serif;
  font-size: 76px;
  color: #ffeecc;
  text-align: center;

}

.comment {
  border: 1px solid black;
  padding: 1em;
  background: #eee;
}

.center {
  text-align: center;
}

.show_image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 20px;
  width: 100%;
}

.show_image h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  line-height: 1.5em;
  top: 40px;
  width: 60%;
}

.show_image h3 span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font: bold 20px Anton, Sans_Serif;
  letter-spacing: normal;
  /*background: rgb(0, 0, 0);*/
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin-top: 20px;
  width: 80%;
}

.index_page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.meme {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.comments {
  margin: 50px;
  padding: 30px;
  border: 5px solid #ff9900;
  border-radius: 10px;
  background-color: #3399ff;
}

.edit_memes {
  margin: 50px;
  padding: 30px;
  border: 5px solid #ff9900;
  border-radius: 10px;
  background-color: #3399ff;
}

/*text, links, forms, button styles*/

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #3399ff;

}

h3 {
  font-family: 'Anton', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #3399ff;
  font-size: 20px;
  font-family: 'Anton', sans-serif;
  font-weight: 500;

}

a:hover {
  background-color: #ff9900;
}

.sig {
  text-align: left;
  font-family: 'Anton', sans-serif;
  font-size: 12px;
  color: #ffeecc;
  padding-left: 20px;
}

input[type=text] {
    display: inline-block;
    width: 80%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
    border: 4px solid #ff9900;
    border-radius: 4px;
}

input {
    display: inline-block;
    width: 40%;
    padding: 12px 20px;
    margin: 10px;
    box-sizing: border-box;
    border: 4px solid #ff9900;
    border-radius: 4px;
}

button {
  background-color: #ff9900;
  border-radius: 5px;
  padding: 15px 32px;
  margin: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Anton', sans-serif;
}
.index {
  left: 0;
}
