<div class="index_page">
  <h2>new meme</h2>

  <form>
    <div style="overflow: hidden; padding-right: .5em; float: left;">
      <input placeholder="text" data-ng-model="vm.newMeme.text" />
      <input placeholder="picture" data-ng-model="vm.newMeme.img_url" />



    </div>
    <button style="float: right" type="submit" data-ng-click="vm.create()">Create</button>
  </form>

  <button type="submit" data-ng-click="vm.create()">Create</button>
  <button ng-click="yours = !yours">All/Your Memes</button>
    <div ng-hide="yours" class="memes">
      <h2 class="center">Meme List</h2>
      <hr>
      <div class="meme" ng-repeat="meme in vm.memes | orderBy:'-created_at'">
        <a ui-sref="memeShow({ id: meme.id })">{{meme.text}}</a>
        <img ng-src="{{meme.img_url}}" alt="{{meme.text}}">
      </div>
    </div>

    <div ng-show="yours" class="memes">
      <div class="center">
        <button ng-click="vm.memeClear()">Clear your memes</button>
      </div>
      <h2 class="center">Your Memes</h2>
      <hr>
      <div class="meme" ng-repeat="meme in vm.yourMemes | orderBy:'-created_at'">
        <a ui-sref="memeShow({ id: meme.id })">{{meme.text}}</a>
        <img ng-src="{{meme.img_url}}" alt="{{meme.text}}">
      </div>
    </div>
</div>
