<!-- <button ng-click="searchBar = !searchBar">See all memes</button>
<br>
<select ng-show="searchBar" ng-model="vm.dropDownPhoto" ng-options="meme.name for meme in vm.photo.data.memes | filter:searchText" ng-change="vm.dropPhoto()">
<br> -->
<p>Select Meme</p>
<label>Filter: <input ng-model="searchText"></label>
<button ng-click="searchBar2 = !searchBar2">Search</button>
<br>
<select ng-show="searchBar2" ng-model="vm.dropDownPhoto" ng-options="meme.name for meme in vm.photo.data.memes | filter:searchText" ng-change="vm.dropPhoto()">
</select>



  <div class="show_image">
    <h3><span>{{vm.meme.text}}</span></h3>
    <img ng-src="{{vm.meme.img_url}}" alt="{{vm.meme.text}}">
  </div>

  <form>
    <input type="text" ng-change="vm.edit()" placeholder="text" data-ng-model="vm.meme.text" />
    <input type="text" ng-change="vm.edit()" placeholder="img_url" data-ng-model="vm.meme.img_url" />
    <button type="dummy">Edit</button>
    <button type="delete" data-ng-click="vm.delete()">Delete</button>
  </form>

  <button data-ng-click="vm.newPhoto()">new photo</button>
  <button data-ng-click="vm.newText()">text</button>
  <button data-ng-click="vm.catPicture()">Cat!</button>


  <p>Comments</p>
  <div ng-repeat="comment in vm.meme.comments| orderBy: '-created_at'|limitTo:1">
    <p>{{comment.text}}</p>
    <input ng-show="editComment" ng-change="vm.editComment(comment.id)" placeholder="comment" data-ng-model="comment.text">
    <button ng-show="editComment" ng-click="vm.deleteComment(comment.id)">Delete</button>

    <button ng-click="editComment = !editComment">Edit</button>
    <button type="delete" data-ng-click="vm.deleteComment(comment.id)">Delete</button>

  </div>
  <div ng-show="viewComments" ng-repeat="comment in vm.meme.comments | orderBy: '-created_at'" ng-if="$index > 0">
    <p>{{comment.text}}</p>
    <input ng-show="editComment" ng-change="vm.editComment(comment.id)" placeholder="comment" data-ng-model="comment.text">
    <button ng-show="editComment" ng-click="vm.deleteComment(comment.id)">Delete</button>
    <button ng-click="editComment = !editComment">Edit</button>
    <button type="delete" data-ng-click="vm.deleteComment(comment.id)">Delete</button>

  </div>
  <button ng-click="viewComments = !viewComments">Toggle Comments</button>


  <input type="text" placeholder="comment" data-ng-model="vm.newComment.text">
  <button type="submit" data-ng-click="vm.createComment()">new comment</button>
