<h2>show working</h2>
<h3>{{vm.meme.text}}</h3>
<img ng-src="{{vm.meme.img_url}}" alt="{{vm.meme.text}}">
<p>here:</p>
<div ng-repeat="comment in vm.meme.comments">
<p>{{comment.text}}</p>
<input ng-show="editComment" placeholder="comment" data-ng-model="comment.text">
<button ng-click="editComment = !editComment">Edit</button>
</div>

  <div class="show_image">
    <h3><span>{{vm.meme.text}}</span></h3>
    <img ng-src="{{vm.meme.img_url}}" alt="{{vm.meme.text}}">
  </div>

  <p>Comments</p>
  <div ng-repeat="comment in vm.meme.comments">
  <p>{{comment.text}}</p>
  <input type="text" placeholder="comment" data-ng-model="comment.text">
  </div>

  <input type="text" placeholder="comment" data-ng-model="vm.newComment.text">
  <button type="submit" data-ng-click="vm.createComment()">new comment</button>

  <form>
    <input type="text" placeholder="text" data-ng-model="vm.meme.text" />
    <input type="text" placeholder="img_url" data-ng-model="vm.meme.img_url" />
    <button type="submit" data-ng-click="vm.edit()">Edit</button>
    <button type="delete" data-ng-click="vm.delete()">Delete</button>
  </form>
